:root{
--text-strong: var(--grey-light-1000);
--text-weak: var(--grey-light-700);
--stroke-strong: var(--grey-light-500);
--stroke-weak: var(--grey-light-100);
--background-sunken: var(--grey-solid-25);
--background-base: var(--grey-solid-0);
--icon-success: var(--green-light-800);
--fill-success-weak: var(--green-light-50);
--icon-error: var(--red-light-800);
--fill-error-weak: var(--red-light-50);
--icon-warning: var(--amber-light-800);
--fill-warning-weak: var(--amber-light-50);
--icon-information: var(--teal-light-800);
--fill-information-weak: var(--teal-light-50);
--background-raised: var(--grey-solid-0);
--fill-brand-weak: var(--brand-light-50);
--text-error: var(--red-light-1000);
--text-brand: var(--brand-light-1000);
--text-inverse-strong: var(--grey-dark-1000);
--fill-brand-strong: var(--brand-light-1000);
--background-overlay: var(--grey-solid-0);
--icon-neutral: var(--grey-light-500);
--stroke-focus: var(--brand-light-1000);
--stroke-selected: var(--brand-light-1000);
--stroke-success-strong: var(--green-light-800);
--stroke-information-strong: var(--teal-light-800);
--stroke-error-strong: var(--red-light-800);
--stroke-warning-strong: var(--amber-light-800);
--fill-hover: var(--grey-light-50);
--stroke-error-weak: var(--red-light-200);
--stroke-warning-weak: var(--amber-light-200);
--stroke-success-weak: var(--green-light-200);
--stroke-information-weak: var(--teal-light-200);
--stroke-brand-strong: var(--brand-light-800);
--stroke-brand-weak: var(--brand-light-200);
--fill-error-strong: var(--red-light-1000);
--fill-success-strong: var(--green-light-1000);
--fill-warning-strong: var(--amber-light-1000);
--fill-information-strong: var(--teal-light-1000);
--icon-brand: var(--brand-light-800);
--icon-inverse: var(--grey-dark-500);
--background-alternate: var(--grey-solid-50);
--fill-selected: var(--brand-light-1000);
--fill-overlay: var(--grey-light-500);
--background-inverse: var(--grey-solid-900);
--stroke-inverse-strong: var(--grey-dark-500);
--stroke-inverse-weak: var(--grey-dark-100);
--text-inverse-weak: var(--grey-dark-700);
--fill-press: var(--grey-light-100);
--fill-weak: var(--grey-light-50);
--text-success: var(--green-light-1000);
--text-warning: var(--amber-light-1000);
--text-information: var(--teal-light-1000);
--background-brand: var(--brand-light-1000);
--fill-inverse-hover: var(--grey-dark-50);
--fill-inverse-press: var(--grey-dark-100);
--fill-inverse-strong: var(--grey-solid-0);
--fill-strong: var(--grey-light-1000);
--text-disabled: var(--grey-light-100);
--stroke-disabled: var(--grey-light-100);
--icon-disabled: var(--grey-light-100);
--fill-disabled: var(--grey-light-100);
--text-inverse-disabled: var(--grey-dark-100);
--stroke-inverse-disabled: var(--grey-dark-100);
--icon-inverse-disabled: var(--grey-dark-100);
--fill-inverse-disabled: var(--grey-dark-100);
--fill-white: var(--grey-solid-0);
--fill-weaker: var(--grey-light-25);
--fill-inverse-weak: var(--grey-dark-50);
--fill-yellow: var(--yellow-solid-1000);
--icon-inverse-strong: var(--grey-dark-1000);
--icon-strong: var(--grey-light-1000);
}